<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Title</title>
</head>
<body>
<header th:replace = "fragments :: header">
</header>

<main>
    <br>
    <div>
    <section th:each="book : ${b}" class="bookContainer">
        <div><img class="bookImg" th:src="${book.bookCover}" width="300" /></div>
        <div class="bookDescription">
            <table>
                <tr>
                    <td class="tableHeader">Title:</td>
                    <td th:text="${book.title}"></td>
                </tr>
                <tr>
                    <td class="tableHeader">Author:</td>
                    <td th:text="${book.author}"></td>
                </tr>
                <tr>
                    <td class="tableHeader">Release year:</td>
                    <td th:text="${book.year}"></td>
                </tr>
                <tr>
                    <td class="tableHeader">Rating:</td>
                    <td th:text="${book.averageRating}+' stars'"></td>
                </tr>
                <tr>
                    <td class="tableHeader">Summary:</td>
                    <td th:text="${book.bookSummary}"></td>
                </tr>
            </table>
        </div>
        <form th:action="@{/book/addBook/{id}(id=${book.id})}" method="post">
        <button class="button-5" role="button">Add to reading list</button>
        </form>
        <a th:href="@{/book/addBook/{id}(id=${book.id})}" method="post">whoop</a>
    </section>
    </div>


</main>

<footer th:replace = "fragments :: footer"></footer>

</body>
</html>