<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
  <title>Profile</title>
</head>
<body>
<header th:replace = "fragments :: header">
</header>

<main>
  <section class="profile-header">
    <div class="userProfile">
        <p  class="name" th:text="'@' + ${user.username}"></p>
        <div >
    <img class="profileImage" th:src="${user.avatarUrl}" alt="User Avatar" />
        </div>
        <div  class="textContainer">
            <h2  class="name" th:text="${user.firstName} + ' ' + ${user.lastName}"></h2>
        </div>
    </div>

    <div class="userStats">
     <h1  class="name">Reading Stats</h1>
      <p  class="name"> Average Rating: <span th:text="${#numbers.formatDecimal(stats.average_rating, 1, 1)}"></span> </p>
        <p  class="name"> Total Books: <span th:text="${stats.total_books}"></span> </p>
        <p  class="name"> Total Books Read: <span th:text="${stats.total_books_read}"></span> </p>
      <p  class="name">Books Read: <span th:text="${stats.total_books_read} + '/' + ${stats.total_books}"></span></p>

    </div>
  </section>


</main>

<footer th:replace = "fragments :: footer"></footer>

</body>
</html>