<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
  <title>Profile</title>
</head>
<body>
<header th:replace = "fragments :: header">
</header>

<main>
  <section class="profile-header">
    <div class="userProfile">
    <h1>userProfile</h1>
    <img th:src="${user.avatarUrl}" alt="User Avatar" />
      <h2 th:text="${user.firstName} + ' ' + ${user.lastName}"></h2>
      <p th:text="'@' + ${user.username}"></p>
    </div>

    <div class="userStats">
     <h1>Stats</h1>
      <p  th:text="${#numbers.formatDecimal(stats.average_rating, 1, 1)}"></p>
      <p th:text="${stats.total_books}"></p>
      <p th:text="${stats.total_books_read}"></p>
      <p>Books Read: <span th:text="${stats.total_books_read} + '/' + ${stats.total_books}"></span></p>

    </div>
  </section>


</main>

<footer th:replace = "fragments :: footer"></footer>

</body>
</html>