<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <title>Your Reading List</title>
</head>
<body>
<header th:replace="fragments :: header"></header>

<main>
    <h1>Your Reading List</h1>
    <table class="readingListTable">
        <thead>
        <tr class="RLHeaders">
            <th>Cover</th>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th>Status</th>
            <th>Tag</th>
            <th>Set tag</th>
            <th>Mark as Read</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${entries}" class="readingListTableRow">
            <td>
                <img th:src="${entry.getBookCover()}" alt="Book Cover" style="width: 75px; height: auto; border-radius:5px;">
            </td>
            <td th:text="${entry.getTitle()}">Book Title</td>
            <td th:text="${entry.getAuthor()}">Author Name</td>
            <td th:text="${entry.getYear()}">Year</td>
            <td th:text="${entry.isRead() ? 'Read' : 'Unread'}"></td>
            <td th:text="${entry.getTag()}">Current Tag</td>

            <td>
                <form th:action="@{/setTag}" method="post">
                    <input type="hidden" name="bookId" th:value="${entry.getBookId()}"/>
                    <input type="text" name="tag" placeholder="Enter tag" required/>
                    <button type="submit">Set Tag</button>
                </form>
            </td>
            
            <td>
                <form th:action="@{/markAsRead}" method="post">
                    <input type="hidden" name="bookId" th:value="${entry.getBookId()}"/>
                    <button type="submit" th:disabled="${entry.isRead()}">Mark as Read</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</main>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>
