<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <title>Register</title>
</head>
<body>
<header>
    <img class="logo" src="/images/logo3.png" alt="ShelfHelp Logo">
</header>
<main>
    <br><br>
<form class="loginForm" action="/register" method="POST">
    <p>
    <label for="username">username*</label>
    <input type="text" name="username" id="username"
           minlength="3" maxlength="10" required/>
    </p>
    <label for="firstName">first name*</label>
    <input type="text" name="firstName" id="firstName" required/>
    <p>
    <label for="lastName">last name*</label>
    <input type="text" name="lastName" id="lastName" required/>
    </p>
    <p>
    <label for="avatarUrl">avatar</label>
    <input type="url" name="avatarUrl" id="avatarUrl" value="http://"/>
    </p>
    <p>
    <label for="password">password*</label>
        <input type="password" name="password" pattern="(?=.*\d)(?=.*[\W_]).{8,}"
               title="8 characters, at least one special character and one number"
               id="password">
    </p>

    <button type="submit">register</button>
</form>
    <br><br>
    <a href="/" style="margin:0 auto;">Return to login</a>
</main>

<footer th:replace = "fragments :: footer"></footer>

</body>
</html>