<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <title>Search</title>
</head>
<body>
<header th:replace="~{fragments :: header}"></header>
<main>
    <div>
        <div class="searchForm">
        <form action="/books/search" method="get">
            <div class="InputContainer">
                <label for="input"></label>
                <input placeholder="Search book by title or author" id="input" class="input" name="searchInput" type="text">
            </div>
        </form>
        </div>

        <div class="searchContainer">
            <div class="book" th:each="book : ${books}">
                <h3 th:text="${book.title}">Book Title</h3>
                <p th:text="${book.author}">Authors: </p>
                <p th:text="${book.year}">Authors: </p>
                <p th:text="${book.averageRating}">Authors: </p>
<!--                <img th:src="@{${book.coverUrl}}" alt="bookCover">-->
                <button>add</button>
            </div>
        </div>

    </div>
</main>
<footer th:fragment="footer"></footer>
</body>
</html>
