<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <title>Search</title>
</head>
<body>
<header th:replace="~{fragments :: header}"></header>
<main>
    <div>
        <div class="searchForm">
        <form action="/books/search" method="get">
            <div class="InputContainer">
                <label for="input"></label>
                <input placeholder="Search book by title or author" id="input" class="input" name="searchInput" type="text">
            </div>
        </form>
        </div>

        <div class="searchContainer">
            <div class="book" th:each="book : ${books}">
                <img class="bookCover" th:src="@{${book.bookCover}}" alt="bookCover">
                <h3 th:text="${book.title}">Book Title</h3>
                <div>
                <p th:text="${book.averageRating}">
                </p>
                <span class="star">&#x2605;</span>
                <button>add</button>
                </div>
            </div>
        </div>

    </div>
</main>
<footer th:fragment="footer"></footer>
</body>
</html>
